streamlit==1.41.1
numpy==1.23.5
scikit-learn==1.0.2
pandas==1.5.3
joblib==1.2.0
opencv-python-headless==4.5.5.64
pillow==9.0.1
streamlit-drawable-canvas==0.9.3
altair==4.2.0
rich==10.14.0
markdown-it-py==2.2.0
pygments==2.13.0
mdurl==0.1.2